.navbar-container {
	display: flex;
	background-color: #F1FFFF;
	align-items: center;
	justify-content: space-between;
}

.navbar-content {
	list-style-type: none;
	padding-right: 20px;
}

.nav-item {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.nav-item a {
	display: block;
	color: #1C55A2;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.nav-item a:hover {
	background-color: #ccffff;
}

#logo-text {
	display: block;
	padding: 10px;
	justify-content: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #1C55A2;
	font-weight: bolder;
	font-size: 36px;
	
	text-decoration: none;

}