.navbar-container {
	display: flex;
	background-color: #F1FFFF;;
	align-items: center;
	justify-content: space-between;
}

.navbar-content {
	list-style-type: none;
	float: right;
}

.nav-item {
	float: right;
}

.nav-item a {
	display: block;
	color: #1C55A2;
	padding: 10px;
	text-align: center;
}

.nav-item a:hover {
	background-color: rgb(0, 177, 177);
}

#logo-text, #logo-text:active {
	padding: 10px;
	justify-content: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #1C55A2;
}